@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,400;1,600 & family= Roboto:wght@400;700 & display=swap');
   *{
    margin: 0;
    padding: 0;
   }

body{
    font-family: 'Montserrat';
    
}
.container{
    max-width: 1200px ;
    margin: 0 auto;
}
ul,li{
    list-style: none;
    
}
li{
    display: inline-block;
}
a{
text-decoration: none;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: 
#FF0000;
padding: 25px 72px;
display: inline-block;
}
.header__item {
    
    line-height: 18px;
    font-style: normal;
    font-weight: 700;
    display: inline;
    padding: 26px 330px 26px 330px
}
.container{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
 }
 .title{
    margin-top: 48px;
 }
 .text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-align: center;
margin-top: 38px;
 }
 .text-2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
margin-top: 28px;
 }
.button{
position: absolute;
display: inline-block;
font-weight: 700px;
font-size: 12px;
line-height: 1;
align-items: center;
letter-spacing: 1.8px;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
padding: 18px 43px;
}
.footer{
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color:  #373737;
    margin-right: 40px;
    margin-bottom: 29px;
}
 